.titleBar {
  text-align: center;
  height: 20em;
  width: 100%;
  background-image: url("http://bpc.h-cdn.co/assets/17/39/1600x800/gallery-1506457521-best-vacuum-cleaners.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgb(36, 173, 205);
  background-attachment: fixed;
  background-position: center -30em;
}

.titlebarOverlay {
  height: 17em;
  width: 100%;
  background-color: rgba(175, 175, 175, .5);
  color: #FFF;
  padding-top: 3em;
  position: relative;
}

.title {
  font-size: 6em;
  font-family: 'Lobster';
  text-shadow: 1.5px 1.5px 5px #333;
}

.subtitle {
  font-size: 2.1em;
  margin-top: .3em;
  font-family: 'Quattrocento Sans';
  text-shadow: .5px .5px 5px #333;
}

.navBar {
  position: absolute;
  width: 100%;
  height: 2.8em;
  bottom: 0;
  text-align: center;
  line-height: 2.8em;
  a {
    font-size: 1.6em;
    font-family: 'Open Sans';
    font-weight: 400;
    transition: all .2s;
    border-bottom: .1em rgba(0, 0, 0, 0) solid;
    margin-right: 1.1em;

    &:hover {
      border-bottom: .1em #FFF solid;
      cursor: pointer;
    }

  }

}

#contactButton {
  margin-right: 0;
}
